.tuna {
    animation: walk-cycle 1s steps(12) infinite;
    background: url(http://stash.rachelnabors.com/img/codepen/tuna_sprite.png) 0 0 no-repeat; 
    height: 200px;
    width: 400px;
    position: absolute;
    bottom: 1px;
    left: 50%;
    margin-left: -200px;
    transform: translateZ(0); /* offers a bit of a performance boost by pushing some of this processing to the GPU in Safari*/
  }
  
  @keyframes walk-cycle {  
    0% {background-position: 0 0; } 
    100% {background-position: 0 -2391px; } 
  }
  
  .foreground, .midground, .background {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0; left: 0;
    transform: translate3d(0,0,0); 
  }
  
  .foreground {
    animation: parallax_fg linear 10s infinite both;
    background:  url(http://stash.rachelnabors.com/24ways2012/foreground_grass.png) 0 100% repeat-x;
    z-index: 3;
  }
  
  @keyframes parallax_fg {  
    0% { background-position: -3584px 100%;} 
    100% {background-position: 0 100%; } 
  }
  
  .midground {
    animation: parallax_mg linear 20s infinite;
    background:  url(http://stash.rachelnabors.com/24ways2012/midground_grass.png) 0 100% repeat-x;
    z-index: 2;
  }
  
  @keyframes parallax_mg {  
    0% { background-position: -3000px 100%;} 
    100% {background-position: 0 100%; } 
  }
  
  .background {
    background-image:
      url(http://stash.rachelnabors.com/24ways2012/background_mountain5.png),
      url(http://stash.rachelnabors.com/24ways2012/background_mountain4.png),
      url(http://stash.rachelnabors.com/24ways2012/background_mountain3.png),
      url(http://stash.rachelnabors.com/24ways2012/background_mountain2.png),
      url(http://stash.rachelnabors.com/24ways2012/background_mountain1.png);
    background-repeat: repeat-x;
    background-position: 0 100%;
    z-index: 1;
    animation: parallax_bg linear 40s infinite;
  }
  
  @keyframes parallax_bg {
    100% { background-position-x: 2400px, 2000px, 1800px, 1600px, 1200px;}
  }
  
  body {
      background: linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%),
      #d2d2d2 url(http://stash.rachelnabors.com/24ways2012/background_clouds.png);
  }

  // write for mian.

.main_text{
    height: 500px;
    width: 100%;
    z-index: 1000;
    .box_text{
        width: 100%;
        #tx1{
            margin-top: 30px;
            margin-left: 30px;
            font-size: 40;
            font-style: 10;
            font-family: 'Original Surfer', cursive;
        }
    }
}
.box_main{
    height: 75%;
    width: 100%;
    z-index: 10;
    position: relative;
    .main{
        height: 500px;
        width: 1200px;
        background: chartreuse;
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%,-50%);
        border: 1px solid rgba(0,0,0,0.5);
        border-radius: 10px 10px 2px 2px;
         background: rgba(0,0,0,0.25);
         box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
         -o-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
          -webkit-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
         -moz-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
        
         display: grid;
         grid-auto-flow: column;
         grid-gap: 50px;
         align-content: center;
         justify-content: center;
        .led1, .led2, .led3{
            height: 300px;
            width: 300px;
            .bx{
                height: 16%;
                width: 100%;
                background: rgb(43, 41, 41);
                position: relative;
                #hl{
                    position: absolute;
                    font-family: 'Original Surfer', cursive;
                    font-size: 15px;
                    left: 30px;
                    color: white;
                }
            }
            .icon{
                margin-top: 10px;
                height: 45%;
                width: 100%;
                border: 2px solid rgb(19, 17, 17);
            }
            .click_to_change{
                width: 100%;
                height: 34%;
                position: relative;
                .round{
                    position: absolute;
                    width: 70%;
                    height: 60%;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    a {
                        color: #000;
                        text-decoration: none;
                        text-transform: uppercase;
                        font-family: 'Original Surfer', cursive;
                        font-size: 16px;
                        color: black;
                        text-align: center;
                    }
                    .button{
                        display: inline-block;
                        width: 100%;
                        height: 100%;
                        line-height: 40px;
                        margin: 20px;
                        overflow: hidden;
                        border: 2px solid rgb(63, 60, 60);
                        transition: color .5s;
                        position: absolute;
                        left: -65px;
                    }
                    .button:before {
                        content: "";
                        position: absolute;
                        z-index: -1;
                        background: rgb(32, 31, 31);
                        width: 200%;
                        height: 200%;
                        border-radius: 50%;
                    }
                    .button:hover {
                        color: #fff;
                    }
                    .button:hover {
                        color: #fff;
                    }
                
                    .button:nth-child(1):before {
                            top: 100%;
                            left: 100%;
                            transition: all .7s;
                    }
                    
                    .button:nth-child(1):hover:before {
                            top: -30px;
                            left: -30px;
                    }
                    
                    .button:nth-child(2):before {
                            left: -30px;
                            bottom: 100%;
                            transition: all .7s;
                    }
                    
                    .button:nth-child(2):hover:before {
                            bottom: -50px;
                    }
                    
                    .button:nth-child(3):before {
                            top: 0;
                            left: -200%;
                            transition: all .7s;
                    }
                    
                    .button:nth-child(3):hover:before {
                            top: -30px;
                            left: -30px;
                    }
                }
            }
        }
    }
    
}